{% extends 'pages/base.jinja' %} 

{% block title%}
    Flask demo - Page not found
{% endblock %} 

{% block content %}
<article id="404">
    <h2>Sorry we can't seem to find that page</h2>

    <p><a href="/" role="button">Home page<a/></p>
</article>
{% endblock %}