{% extends 'pages/base.jinja' %} 

{% block title%}
    Flask demo - Page not found
{% endblock %} 

{% block content %}
    <h2 id="404Text">Sorry we can't seem to find that page</h2>

    <p id="homeButton404"><a href="/" role="button">Home page<a/></p>
{% endblock %}