{% extends 'pages/base.jinja' %}

{% block title%}
Flask demo - Form
{% endblock %}

{% block content %}
<article>
    <h2>A splendiferous form</h2>

    <form method="POST" action="/processForm">

        <fieldset>

            <label>
                Your name
                <input type="text" name="name" placeholder="Enter your name" required>
            </label>

            <label>
                Your age
                <input name="age" type="number" placeholder="Enter your age" min="0" max="100" required>
            </label>

        </fieldset>

        <input type="submit" value="Submit">

    </form>

</article>
{% endblock %}